<div class="footer__container">
    <div class="footer__links">
        <div class="footer__link--wrapper">
            <div class="footer__link--items">
                <h2>Rólunk</h2>
                <a href="/login">Hogy működik</a>
                <a href="/Sales&Invoicing">Eladások</a>
                <a href="/Inventory">Leltár</a>
                <a href="/Accounting">Számlázás</a>
                <a href="/">Szolgáltatás feltételei</a>
            </div>
            <div class="footer__link--items">
                <h2>Lépjen kapcsolatba velünk</h2>
                <a href="/contact">Contact</a>
                <a href="/contact">Support</a>
            </div>
        </div>
        <div class="footer__link--wrapper">
            <div class="footer__link--items">
                <h2>Közösségi média</h2>
                <a href="/">Instagram</a>
                <a href="/">Facebook</a>
                <a href="/">Youtube</a>
                <a href="/">Twitter</a>
            </div>
        </div>
    </div>
    <div class="social__media">
        <div class="social__media--wrap">
            <div class="footer__logo">
                <a href="/" id="footer__logo">
                    <i class="fas fa-calculator"></i>
                    <span>PaySmart</span>
                </a>
            </div>
            <p class="website__rights">© PaySmart 2024. Minden jog fenntartva</p>
            <div class="social__icons">
                <a href="/" class="social__icons--link" target="_blank">
                    <i class="fab fa-facebook"></i>
                </a>
                <a href="/" class="social__icons--link" target="_blank">
                    <i class="fab fa-instagram"></i>
                </a>
                <a href="/" class="social__icons--link" target="_blank">
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="/" class="social__icons--link" target="_blank">
                    <i class="fab fa-linkedin"></i>
                </a>
                <a href="/" class="social__icons--link" target="_blank">
                    <i class="fab fa-youtube"></i>
                </a>
            </div>
        </div>
    </div>
</div>