<nav class="navbar">
    <div class="navbar__container">
        <a href="/" id="navbar__logo"> <i class="fas fa-calculator"></i>PaySmart </a>
        <div class="navbar__toggle" id="mobile-menu">
            <span class="bar"></span> <span class="bar"></span>
            <span class="bar"></span>
        </div>
        <ul class="navbar__menu">
            <li class="navbar__item">
                <a href="/" class="navbar__links">Funkciók</a>
                <ul class="navbar__dropdown">
                    <li><a href="/Sales&Invoicing" class="navbar__services--links">
                        <h1>Eladási előzmények</h1>
                        <p>Vizsgálja és ellnőrizze eladásait</p>
                        </a></li>
                    <li><a href="/Accounting" class="navbar__services--links">
                        <h1>Számlák készítése</h1>
                        <p>Készítsen számlákat gyorsan és egyszerűen</p>
                        </a></li>
                    <li><a href="/Inventory" class="navbar__services--links">
                        <h1>Leltár ellenőrzés</h1>
                        <p>Ellenőrzi és töltse fel készleteit</p>
                        </a></li>
                </ul>
            </li>
            <li class="navbar__item">
                <a href="/industries" class="navbar__links">Iparágak</a>
            </li>
            <li class="navbar__item">
                <a href="/contact" class="navbar__links">Elérhetőség</a>
            </li>
            <li class="navbar__btn"><a href="/login" class="button">Bejelentkezés</a>
            </li>
        </ul>
    </div>
</nav>
